*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.image{
	width: 100%;
	height: 500px;

}
#sliderBoard{/*div*/
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 60%;
	height: 550px;
	margin: 100px auto;

	overflow: hidden;
}
#content{/*ul*/
	position: relative;
}
#content li{/*li*/
	float: left;
}

/*circle button*/
#contentButton{
	text-align: center;
	width: 100%;
	height: 50px
}
#contentButton li{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ccc;
	display: inline-block;
	margin: 8px;
}
#contentButton li.clicked{
	background-color: #666;
}
