/*6_bind_on.html*/
.highlight{
    background-color: yellow;
}
/* 11_textHover */
.textHover{
    cursor: pointer;
}

#theDiv{
    border: 1px solid #ccc;
    color: #333;
    padding: 5px;
    font: 14px Tahoma;
    background-color: #abc;

    position: absolute;
    display: none;
}
/* 12_topMessage */
#topMessage{
    background-color: #666;
    font: 20px Tahoma;
    color: #eee;
    padding: 15px;
    text-align: center;

    display: none;
}
#topMessage:hover{
    cursor: pointer;
    background-color: darkgreen;
}
/* 14_animation */
.myPhotos{
    width: 100px;
}
#imgBoard{
    width: 100px;
    background-color: #aaa;
    padding: 10px 30px;
    position: absolute;
    left: -130px;
}
